.personality-container .Banner{
    align-items: flex-end;
}
.personality-container .Banner .title{
    display: flex;
    align-items: flex-end;
}
.Banner .typeLetter{
    font-family: 'ヒラギノ角ゴ ProN W8';
    letter-spacing: 2px;
    font-size: var(--fz60);
    line-height: var(--fz60);
}
.Banner .typeChinese{
    font-family: 'ヒラギノ角ゴ ProN W8';
    letter-spacing: 1px;
    font-size: var(--fz30);
    line-height: var(--fz30);
    margin: 0 0 5px 30px
}
.Banner .subTitle{
    font-family: 'ヒラギノ角ゴ ProN W8';
    letter-spacing: 2px;
    font-size: var(--fz36);
}
.personality-container .Banner .content{
    letter-spacing: 1px;
    font-size: var(--fz24);
    width: 40vw;
}
.personality-container .Banner img {
    right: 100px;
}
.personality-content{
    max-width: 1776px;
    margin: 140px 0;
    padding: 0 110px;
    position: relative;
    letter-spacing: 2px;
}
.personality-container .section-title{
    font-family: 'ヒラギノ角ゴ ProN W8';
    letter-spacing: 2px;
    font-size: var(--fz45);
    margin: 70px 0 50px;
}
.personality-container .section-content{
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.lettermeans-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lettermeans-chinese{
    font-family: 'ヒラギノ角ゴ ProN W8';
    letter-spacing: 2px;
    font-size: var(--fz36);
}
.lettermeans-english{
    letter-spacing: 1px;
    font-size: var(--fz24);
}
.cognition-title{
    display: flex;
    align-items: center;
    line-height: 40px;
}
.list-style{
    margin-left: 2px;
    width: 30px;
    height: 30px;
}
.cognition-title-text{
    margin-left: 25px;
    letter-spacing: 2px;
    font-size: var(--fz36);
}
.cognition-text{
    margin: 35px 0 45px 2px;
    letter-spacing: 1px;
    font-size: var(--fz24);
}

@media only screen and (min-width: 431px) and (max-width: 1024px) {
    .personality-container .Banner{
        height: 110vw;
    }
    .personality-container .Banner img {
        right: 50%;
        top:-10%;
        transform: translateX(50%);
    }
    .personality-container .Banner .intro{
        position: absolute;
        top: 60vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .personality-container .Banner .title {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Banner .typeChinese{
        margin: 30px 0 10px;
    }
    .Banner .subTitle,.cognition-title-text{
        font-size: 32px;
    }
    .personality-container .Banner .content{
        width: 73.4vw;
    }
    .personality-container .section-title{
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 0px) and (max-width: 430px) {

    .personality-container .Banner{
        height: 255vw;
    }
    .personality-container .Banner img {
        width: 310px;
        right: 50%;
        top:-10%;
        transform: translateX(50%);
    }
    .personality-container .Banner .intro{
        position: absolute;
        top: 110vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0 55px;
    }
    .personality-container .Banner .title {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Banner .typeChinese{
        margin: 30px 0 10px;
        font-size: 20px;
    }
    .Banner .subTitle{
        font-size: 25px;
        word-break: keep-all;
    }
    .personality-container .Banner .content{
        width: 73.4vw;
        text-align: left;
        padding-bottom: 60px;
        margin-bottom: 60px;
        border-bottom: 3px #000 solid;
    }
    .personality-container .section-title{
        justify-content: center;
        align-items: center;
        font-size: 24px;
    }
    .personality-content{
        padding: 0 55px;
    }
    .personality-container .section-content{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .lettermeans-cont{
        width: 45%;
        margin-bottom: 20px;
    }
    .list-style{
        width: 8px;
        height: 8px;
    }
    .cognition-title-text {
        font-size: 20px;
        margin-left: 15px;
        white-space:nowrap;
    }
    .cognition-text{
        font-size: 18px;
    }
}
@media only screen and (min-width: 1777px) {
    .personality-content{
        margin-left: auto;
        margin-right: auto;
    }
}