.world-container {
    display: flex;
}

.tab-bar {
    width: 25vw;
    padding-left: 70px;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 100px;
    margin-top: 60px;
}

.progress-btn {
    margin: 30px;
    font-size: var(--fz26);
    font-family: 'ヒラギノ角ゴ ProN W8';
    width: fit-content;
    cursor: pointer;
}

.bottom_line {
    border-bottom: 3px solid rgb(0, 0, 0);
}

.main-content {
    width: 75vw;
    border-left: 2px #000 dashed;
}

.text-content {
    max-width: 1124px;
    margin: 0px 150px;
    padding: 100px 0;
}

.text-content:not(:last-child) {
    border-bottom: 1px solid #000;
}

.text-content img {
    width: 100%;
    margin-top: 30px;
}

.content-title {
    font-family: ヒラギノ角ゴ ProN W8;
}

.content-cont {
    font-size: var(--fz24);
    margin-top: 30px;
}

.content-cont a {
    border-bottom: 2.5px solid #000;
}

.fourDimension-cont {
    margin-top: 50px;
}

.fourDimension-cont:not(:last-child) {
    border-bottom: 1px solid #000;
    padding-bottom: 50px;

}

.fourDimension-title,
.fourDimension-content {
    margin-top: 30px;
}

.world-container .list-style {
    margin: 0 4px 0 2px;
    width: 20px;
    height: 20px;
    background-color: #2A2A2A;
}

.fourDimension-title {
    font-size: var(--fz24);
    display: flex;
    align-items: center;
}

.fourDimension-title-text {
    font-family: ヒラギノ角ゴ ProN W8;
}

.fourDimension-content,
.fourDimension-twoSide-cont {
    font-size: var(--fz24);
}

.fourDimension-twoSide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.fourDimension-twoSide:nth-child(2n) {
    margin-top: 50px;

}

.fourDimension-twoSide img {
    width: 15%;
    height: auto;
    margin-top: 0;
}

.fourDimension-twoSide-cont {
    margin-left: 45px;
}

.fourDimension-twoSide-text {
    margin-top: 15px;
}

@media only screen and (min-width: 431px) and (max-width: 1024px) {
    .world-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tab-bar {
        width: 100vw;
        margin-top: 50px;
        padding: 30px 0px;
        display: flex;
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: #fff;

    }

    .progress-bar {
        width: 100%;
        max-width: 1124px;
        margin: 0px 150px 0;
        flex-direction: row;
        justify-content: space-between;
        top: 50px;
    }

    .progress-btn {
        margin: 0;
        font-size: 24px;
    }

    .main-content {
        width: 100vw;
        border-left: 0px #000 dashed;
    }

    .text-content:first-child {
        padding-top: 70px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 430px) {
    .world-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tab-bar {
        width: 100vw;
        margin-top: 50px;
        padding: 20px 0px;
        display: flex;
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: #fff;

    }

    .progress-bar {
        width: 100%;
        max-width: 1124px;
        margin: 0px 60px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        top: 50px;
    }

    .progress-btn {
        margin: 10px;
        font-size: 20px;
    }

    .progress-btn:first-child {
        margin: 10px 20px;
    }

    .progress-btn:nth-child(2) {
        margin: 10px 11px;
    }

    .main-content {
        width: 100vw;
        border-left: 0px #000 dashed;
    }

    .text-content {
        margin: 0 60px;
    }

    .text-content:first-child {
        padding-top: 70px;
    }

    .world-container .list-style {
        width: 10px;
        height: 10px;
    }

    .fourDimension-twoSide {
        flex-direction: column;
    }

    .fourDimension-twoSide img {
        width: 50%;

    }

    .fourDimension-twoSide-cont {
        margin-left: 0px;
        margin-top: 25px;
    }


}