/* 設定共用品項 */

@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    font-family: 'ヒラギノ角ゴ ProN W6','Hiragino Sans GB Std';
    font-weight: normal;
    text-decoration: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

}

* ::-webkit-scrollbar {
    width: 2px;
}

* ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

:root {
    --fz90: 90px;
    --fz60: 60px;
    --fz45: 45px;
    --fz36: 36px;
    --fz32: 32px;
    --fz30: 30px;
    --fz28: 28px;
    --fz26: 26px;
    --fz24: 24px;
    --fz22: 22px;
    --fz20: 20px;
    --fz18: 18px;
    --fz16: 16px;
    --fz14: 14px;
}

html,
body {
    width: 100vw;
    height: 100%;
    background-color: #fff;
    color: #000;
    overflow-x: hidden;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    text-align: center;
    text-decoration: none;
    color: #000;
}

a {
    color: #000;
    text-decoration: none;
}

input {
    text-align: left;
    border: none;
    outline: none;
}

li {
    list-style: none;
}

@media only screen and (min-width: 431px) and (max-width: 1024px) {
    :root {
        --fz36: 25px;
        --fz26: 18px;
    }
}


@media only screen and (min-width: 0px) and (max-width: 430px) {
    :root {
        --fz60: 40px;
        --fz36: 23px;
        --fz30: 15px;
        --fz24: 20px;
    }
}